<footer class="footer">
    <div class="row">
        <div class="small-12 columns">
            <p class="links">
                <a href="/" tabindex="-1">Blog homepage <span class="fi-home"></span></a>
                <a href="/admin" tabindex="-1">Blog admin <span class="fi-page-edit"></span></a>
                <a href="http://github.com/ianluddy/Spud-Blog" target="_blank" tabindex="-1">View on Github <span
                        class="fi-social-github"></span></a>
                <a id="log_out" target="_blank" tabindex="-1">Log Out<span class="fi-prohibited"></span></a>
            </p>
        </div>
    </div>
</footer>
