{% extends "base.html" %}

<!-- CSS Import -->
{% block importCSS %}
    <link rel="stylesheet" href="/css/alertify.default.css"/>
    <link rel="stylesheet" href="/css/alertify.core.css"/>
    <link rel="stylesheet" href="/css/admin.css"/>
{% endblock %}

<!-- JS Import -->
{% block importJS %}
    <script type="text/javascript" src="js/vendor/alertify.min.js"></script>
    <script type="text/javascript" src="js/vendor/textboxio.js"></script>
    <script type="text/javascript" src="js/messages.js"></script>
    <script type="text/javascript" src="js/admin.js"></script>
{% endblock %}

<!-- Admin Page -->
{% block main %}
    <div id="admin" class="row">
        <div id="post_editor" class="large-8 columns" role="content" current_post_id="">
            <div class="row">

                <div class="large-6 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">Title</span>
                        </div>
                        <div class="small-9 columns">
                            <input id="title_input" type="text" placeholder="title">
                        </div>
                    </div>
                </div>

                <div class="large-6 columns">
                    <div id="publish_switch" class="switch radius">
                        <input id="switchName" type="checkbox">
                        <label for="switchName"></label>
                    </div>
                    <span class="published_label">Publish</span>
                </div>

                <div class="large-12 columns">
                    <label>
                        <textarea id="post_body" placeholder="Post Body"></textarea>
                    </label>
                </div>

                <div class="large-6 columns">
                    <div class="row collapse prefix-radius">
                        <div class="small-3 columns">
                            <span class="prefix">Tags</span>
                        </div>
                        <div class="small-9 columns">
                            <input id="tag_input" type="text" placeholder="tags">
                        </div>
                    </div>
                </div>

                <div id="tag_container" class="large-6 columns"></div>

            </div>
        </div>
        <aside class="large-4 columns">
            <a id="save_post_btn" class="button expand">Save <span class="fi-save"></span></a>
            <a id="new_post" class="button expand">New Post <span class="fi-page-edit"></span></a>

            <div id="post_preview_list"></div>
        </aside>
    </div>

{% endblock %}

