<!doctype html>

<!-- Base HTML Template -->

<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spud Blog</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/foundation.min.css" />
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="stylesheet" href="/css/foundation-icons.css" />
    </head>
    <body>
        <!-- Header -->
        <div class="row">
            <div class="large-12 columns">
                <h1 id="blog_title">
                    <div href="/" id="blog_icon"></div>
                    Spud Blog
                    <small id="blog_tagline"></small>
                </h1>
                <hr/>
            </div>
        </div>

        <!-- Page Contents -->
        {% block main %}{% endblock %}

        <!-- Footer -->
        <footer class="row">
            <div class="large-12 columns">
                <hr/>
                <div class="row">
                    <div class="large-6 columns"></div>
                    <div class="large-6 columns">
                        <div class="git">
                            <span class="fi-social-github"></span>
                            <span>
                                <a href="http://github.com/ianluddy/Spud-Blog">View on Github →</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- JS -->
        <script src="js/vendor/modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation/foundation.min.js"></script>
        <script src="js/vendor/handlebars-v3.0.0.js"></script>
        <script src="js/vendor/moment.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/base.js"></script>
        <script>
          $(document).foundation();
        </script>

        <!-- Page JS -->
        {% block import %}{% endblock %}
  </body>
</html>


<!-- Handlebars Templates -->

{% verbatim %}

<script id="post_tmpl" type="text/x-handlebars-template">
    <div class="post">
        <article>
            <h3><a>{{title}}</a></h3>
            <div class="post_header">
                <span>
                    <h6 class="post_stamp">{{hb_stamp stamp}}</h6>
                </span>
                <span class="post_tags">
                    {{#tags}}
                        <span class="success label">{{this}}</span>
                    {{/tags}}
                </span>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    {{{body}}}
                </div>
            </div>
        </article>
        <hr/>
    </div>
    <div class="fb-comments" data-href={{link}}" data-numposts="5" data-colorscheme="light"></div>
</script>

<script id="tag_tmpl" type="text/x-handlebars-template">
    <span class="success label">{{this}}</span>
</script>

<script id="editable_tag_tmpl" type="text/x-handlebars-template">
    <span class="post_tag">
        <span class="success label">
            {{this}}
        </span>
        <span class="remove fi-x-circle"></span>
    </span>
</script>


<script id="paginator_tmpl" type="text/x-handlebars-template">
    <li class="arrow"><a>&laquo;</a></li>
    {{#pages}}
        <li class="pag"><a>{{this}}</a></li>
    {{/pages}}
    <li class="arrow"><a>&raquo;</a></li>
</script>

<script id="post_preview_tmpl" type="text/x-handlebars-template">
    <div class="post_preview" post_id="{{id}}">
        <div class="icons">
            <div class="delete fi-trash" post_id="{{id}}" title="Delete Post"></div>
        </div>
        <div class="title">
            {{#eq published true}}
                <span class="published fi-megaphone" title="Published"></span>
            {{else}}
                <span class="unpublished fi-megaphone" title="Unpublished"></span>
            {{/eq}}
            {{title}}
        </div>
        <div class="stamp">{{hb_stamp stamp}}</div>
    </div>
</script>

<script id="loader_tmpl" type="text/x-handlebars-template">
    <div class="loader_overlay">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
</script>

{% endverbatim %}