{% extends "base.html" %}

<!-- JS Import -->
{% block importJS %}
    <script type="text/javascript" src="js/login.js"></script>
{% endblock %}

{% block main %}
    <div class="row">
        <div class="large-6 columns">
            <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                    <span class="prefix">Username</span>
                </div>
                <div class="small-9 columns">
                    <input id="username" type="text" placeholder="username">
                </div>
            </div>
            <div class="row collapse prefix-radius">
                <div class="small-3 columns">
                    <span class="prefix">Password</span>
                </div>
                <div class="small-9 columns">
                    <input id="password" type="text" placeholder="password">
                </div>
            </div>
        </div>
        <div class="large-12 columns">
            <a id="login_button" class="button success">Login</a>
        </div>
    </div>
{% endblock %}

<!-- Template CSS -->
{% block importCSS %}
    <link rel="stylesheet" href="/css/login.css" />
{% endblock %}