/* Typography */
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bangers', 'Open Sans', sans-serif;
    /*font-family: 'Patua One', 'Open Sans', sans-serif;   */
}

a {
    transition: all 300ms ease;
    color: #966A49;
}

a:hover, a:active, a:focus {
    color: #C18A5D;
}

/* header */

.header {
    background: url('../img/halftone.png');
    text-align: left;
    font-size: 1.2rem;
    padding: 2rem;
    margin-bottom: 2rem;
}

.header a {
    background-image: url("/img/spud.png");
    display: inline-block;
    min-height: 60px;
    background-size: 60px;
    background-repeat: no-repeat;
    line-height: 60px;
    padding-left: 80px;
}

/* Tags */

#tags {
    padding-bottom: 26px;
}

#tags > .label {
    cursor: pointer;
    opacity: 0.6;
}

#tags > .label:hover {
    opacity: 0.8;
}

#tags > .label.selected {
    opacity: 1;
}

.post_tag .remove {
    font-size: 20px;
    color: #000;
    position: relative;
    left: -10px;
    bottom: 11px;
    cursor: pointer;
}

.post_tag .remove:hover {
    opacity: 0.6;
}

.post_tag .label {
    font-size: 14px;
}

.post h3 {
    font-size: 3rem;
}

#tag_container {
    margin-bottom: 10px !important;
}

/* Posts */
.post_stamp {
    color: #aaa;
    display: inline-block;
    float: left;
}

.post_header {
    margin-bottom: 12px;
}

.post_tags {
    margin-left: 12px;
}

.post {
    display: block;
    position: relative;
}

.feed_link {
    text-align: center;
    width: 100%;
    display: block;
}

#posts {
    min-height: 400px;
}

ul.pagination li.current a,
ul.pagination li.current button {
    background: #292C2F;
}

/* Post Previews */
.post_preview .icons {
    float: right;
}

.post_preview .icons > div {
    display: inline-block;
    font-size: 20px;
    color: #999;
}

.post_preview .icons > div:hover {
    cursor: pointer;
    border-bottom: 2px solid;
}

.post_preview.selected .icons > div {
    color: #fff;
}

.post_preview {
    padding: 10px;
    cursor: pointer;
    border-right: 5px solid #fff;
}

.post_preview > .stamp {
    color: #aaa;
}

.post_preview > .title {
    color: #C18A5D;
}

.post_preview > .title > .published, .post_preview > .title > .unpublished {
    margin-right: 5px;
}

.post_preview > .title > .unpublished {
    opacity: 0.3;
}

.post_preview.selected > .stamp {
    color: #ccc;
}

.post_preview.selected > .title {
    color: #fff;
}

.post_preview .unsaved {
    display: none;
}

.post_preview:hover {
    opacity: 0.8;
    border-right: 5px solid #C18A5D;
}

.post_preview:nth-child(even) {
    background-color: #f0f0f0;
}

.post_preview:nth-child(odd) {
    background-color: #f9f9f9;
}

.post_preview.selected, .post_preview.selected:hover {
    color: #fff;
    background-color: #C18A5D;
}

#post_preview_list {
    max-height: 650px;
    overflow: auto;
}

/* Loader */
.loader_overlay {
    position: absolute;
    background-color: #fff;
    display: none;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1000;
}

.spinner {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 45%;
    left: 45%;
    display: none;
}

.spinner > div {
    background-color: #C18A5D;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

/* Footer */
.footer {
    background-color: #292c2f;
    text-align: right;
    font-size: 1.2rem;
    padding: 2rem;
    margin-top: 2rem;
}

.footer .links a {
    list-style: none;
    font-weight: bold;
    color: #ffffff;
    padding: 3rem 0 2rem;
    vertical-align: bottom;
    margin: 0;
}

.footer .links a span {
    transition: all 300ms ease;
    font-size: 27px;
    margin: 0 2rem 0 0.5rem;
    color: #C18A5D;
    position: relative;
    top: 0.2em;
}

.footer .links a:hover span {
    color: #DDAD76;
}

@media (max-width: 700px) {
    .footer {
        padding: 2rem;
    }

    .footer .links a {
        display: block;
        padding: 0.25rem 0;
    }
}

/* Responsive */
@media (max-width: 980px) {
    #about {
        display: none;
    }

    #about_handle {
        display: none;
    }
}

/* About */
#about_handle {
    position: absolute;
    top: calc(50% - 27px);
    height: 37px;
    width: 98px;
    left: -67px;
    background-color: #444;
    color: #fff;
    cursor: pointer;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    text-align: center;
    vertical-align: middle;
    line-height: 32px;
    border: 2px solid #333;
    border-bottom: 2px solid #444;
    z-index: 1001;
}

#about {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 30%;
    left: 100%;
    background: #444;
    z-index: 1000;
    border-left: 2px solid #333;
    padding: 20px;
    color: #fff;
}

#about a, #about h5 {
    color: #fff;
}

#about a:hover {
    opacity: 0.6;
}

#about span {
    margin-right: 5px;
}

#about .resources {
    padding-bottom: 3px;
    font-size: 1.2em;
}

/* Paginator */
#paginator {
    margin-top: 20px;
}

ul.pagination li {
    font-size: 1.0rem;
}

/* For the lols */
.spuddy {
    background: url("/img/spud.png") no-repeat top left;
    position: fixed;
    bottom: -150px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    height: 400px;
    display: block;
    transform-origin: 50% 90%;
}